@page "/articles"
@using Microsoft.EntityFrameworkCore
@using NimbleLoop.Domain.Entities
@using NimbleLoopWebApp.Data
@attribute [StreamRendering]
@inject NimbleLoopDbContext dbContext

<!--Hero section:start-->
<div class="my-5 container">
  <div class="text-center">
    <h1>Explore Our Insights</h1>
    <p>Stay updated with the latest articles and insights from NimbleLoop.</p>
  </div>
  <ArticleSearchbox SearchTerm="@SearchTerm" SelectedCategory="@SelectedCategory" />
  <AddArticleButton />
</div>
<!--Hero section:end-->
<!--Featured section:start-->
<div class="my-5 container">
  <h2 class="mb-4 text-center">Featured Articles</h2>
  <div class="row">
    @foreach (var article in featuredArticles)
    {
      <ArticleTile ImageUrl="@article.ImageUrl" Key="@article.Key" Summary="@article.MetaDescription" Title="@article.GetArticleTitle()" ImageAlt="@article.GetArticleImageAlt()" />
    }
  </div>
</div>
<!--Featured section:end-->
<!--Articles list section:start-->
<div class="my-5 container">
  <h2 class="mb-4 text-center">All Articles</h2>
  <div class="row">
    @foreach (var article in filteredArticles)
    {
      <ArticleTile ImageUrl="@article.ImageUrl" Key="@article.Key" Summary="@article.MetaDescription" Title="@article.GetArticleTitle()" ImageAlt="@article.GetArticleImageAlt()" />
    }
  </div>
</div>
<!--Articles list section:end-->
@code {
  [SupplyParameterFromQuery(Name = "searchTerm")]
  public string? SearchTerm { get; set; }
  [SupplyParameterFromQuery(Name = "selectedCategory")]
  public string? SelectedCategory { get; set; }

  private List<Article> articles = new();
  private List<Article> filteredArticles = new();
  private List<Article> featuredArticles = new();
  private List<string> categories = new();
  private string searchTerm = string.Empty;
  private string selectedCategory = string.Empty;

  protected async override Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    articles = await dbContext.Articles.OrderByDescending(x => x.CreatedAt).ToListAsync();
    filteredArticles = articles;
    featuredArticles = articles.Where(a => a.IsFeatured).ToList();
    categories = articles.SelectMany(a => a.Tags).Distinct().ToList();
  }

  private void FilterArticles()
  {
    filteredArticles = articles
        .Where(a => (string.IsNullOrEmpty(searchTerm) || a.Title.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)) &&
                    (string.IsNullOrEmpty(selectedCategory) || a.Tags.Contains(selectedCategory)))
        .ToList();
  }
}